a {color: chocolate;}
a:hover {color: fuchsia;}
a {text-decoration:none;}

body {max-width: 1000px;
      min-width: 750px;
      margin: auto;}

header {background-color:beige;
        height: 100px;
        text-align:right;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        font-size: 20px;
        margin: 10px;}

footer {height: 80px;
        padding: 0px;
        font-size: 20px;
        clear: both;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        border-top: 1px black solid;
        padding-top: 20px;
        }

.main {font-size: 18px;
        margin:10px;}

.talks {font-size: 14px;
        margin:10px;}

.pages {margin: 10px;}

.bigpic {float: right;
        margin: 15px;}

.sublist {list-style-type: circle;}
